<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SselphGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SselphGUI.Properties.Settings>
            <setting name="add_not_found" serializeAs="String">
                <value>-add_not_found=false</value>
            </setting>
            <setting name="append" serializeAs="String">
                <value>-append=false</value>
            </setting>
            <setting name="console_img" serializeAs="String">
                <value>-console_img=b</value>
            </setting>
            <setting name="console_src" serializeAs="String">
                <value>-console_src=gdb</value>
            </setting>
            <setting name="convert_videos" serializeAs="String">
                <value>-convert_videos=false</value>
            </setting>
            <setting name="download_images" serializeAs="String">
                <value>-download_images=true</value>
            </setting>
            <setting name="download_marquees" serializeAs="String">
                <value>-download_marquees=false</value>
            </setting>
            <setting name="download_videos" serializeAs="String">
                <value>-download_videos=false</value>
            </setting>
            <setting name="extra_ext" serializeAs="String">
                <value>-extra_ext=</value>
            </setting>
            <setting name="image_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="image_path" serializeAs="String">
                <value>-image_path=images</value>
            </setting>
            <setting name="image_suffix" serializeAs="String">
                <value>-image_suffix=-image</value>
            </setting>
            <setting name="img_format" serializeAs="String">
                <value>-img_format=jpg</value>
            </setting>
            <setting name="img_workers" serializeAs="String">
                <value>-img_workers=0</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>-lang=en</value>
            </setting>
            <setting name="mame" serializeAs="String">
                <value>-mame=false</value>
            </setting>
            <setting name="mame_img" serializeAs="String">
                <value>-mame_img=t</value>
            </setting>
            <setting name="mame_src" serializeAs="String">
                <value>-mame_src=adb</value>
            </setting>
            <setting name="marquee_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="marquee_format" serializeAs="String">
                <value>-marquee_format=png</value>
            </setting>
            <setting name="marquee_path" serializeAs="String">
                <value>-marquee_path=images</value>
            </setting>
            <setting name="marquee_suffix" serializeAs="String">
                <value>-marquee_suffix=-marquee</value>
            </setting>
            <setting name="max_height" serializeAs="String">
                <value />
            </setting>
            <setting name="max_width" serializeAs="String">
                <value>-max_width=400</value>
            </setting>
            <setting name="missing" serializeAs="String">
                <value />
            </setting>
            <setting name="nested_img_dir" serializeAs="String">
                <value>-nested_img_dir=false</value>
            </setting>
            <setting name="no_thumb" serializeAs="String">
                <value>-no_thumb</value>
            </setting>
            <setting name="output_file" serializeAs="String">
                <value />
            </setting>
            <setting name="overview_len" serializeAs="String">
                <value />
            </setting>
            <setting name="region" serializeAs="String">
                <value>-region=us,wor,eu,jp,fr,xx</value>
            </setting>
            <setting name="retries" serializeAs="String">
                <value>-retries=2</value>
            </setting>
            <setting name="rom_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="rom_path" serializeAs="String">
                <value>-rom_path=.</value>
            </setting>
            <setting name="skip_check" serializeAs="String">
                <value>-skip_check=true</value>
            </setting>
            <setting name="ss_password" serializeAs="String">
                <value>-ss_password=</value>
            </setting>
            <setting name="ss_user" serializeAs="String">
                <value>-ss_user=</value>
            </setting>
            <setting name="strip_unicode" serializeAs="String">
                <value>-strip_unicode=false</value>
            </setting>
            <setting name="update_cache" serializeAs="String">
                <value>-update_cache=true</value>
            </setting>
            <setting name="use_filename" serializeAs="String">
                <value>-use_filename=false</value>
            </setting>
            <setting name="use_nointro_name" serializeAs="String">
                <value>-use_nointro_name=true</value>
            </setting>
            <setting name="video_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="video_path" serializeAs="String">
                <value>-video_path=images</value>
            </setting>
            <setting name="video_suffix" serializeAs="String">
                <value>-video_suffix=-video</value>
            </setting>
            <setting name="workers" serializeAs="String">
                <value>-workers=1</value>
            </setting>
            <setting name="image_path_string" serializeAs="String">
                <value>images</value>
            </setting>
            <setting name="marquee_path_string" serializeAs="String">
                <value>images</value>
            </setting>
            <setting name="video_path_string" serializeAs="String">
                <value>images</value>
            </setting>
        </SselphGUI.Properties.Settings>
    </userSettings>
</configuration>